/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body, ul, form {
    padding: 0;
    margin: 0;
    font-family: "OpenSansLight", "Segoe UI", KievitPro-Light, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
    background-color: rgba(252, 252, 252, 0.63);
}

ul li {
    list-style-type: none;
}

header {
    text-align: center;
    background: #b270cd;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
	padding: 0;
}

div.overlay {
    width: 100%;
    height: 280px;
    position: absolute;
    z-index: 99;
    background: grey;
    opacity: 0.1;
}

div.overlay-curtain {
    width: 100%;
    height: 20px;
    position: absolute;
    z-index: 120;
    background: url('../images/curtain_checkbox_red.jpg')
}

div.room {
    border: none;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

div.roomimage {
    height: 300px;
}

div.room img {
    max-height: 80%;
}

.progress {
    margin: 0 auto;
    width: 200px;
}

#bedroom-thermometer > span {
    color: #0e90d2;
    display: block;
    font-weight: bold;
}

ul.control-panel li {
    width: 33%;
    float: left;
}

footer {
    text-align: center;
    background: #b270cd;
    color: white;
    height: 50px;
    margin-top: 20px;
    padding-top: 10px;
}

.clear {
    clear: both;
}

@media only screen and (max-width: 768px) {
    /* tablets */
    ul.control-panel li {
        width: 50%;
        float: left;
    }
}

@media only screen and (max-width: 480px) {
    /* small devices, phones */
    ul.control-panel li {
        width: 100%;
    }
}
